.card-item{
  width: 14vw;
  margin: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20px;

}
.image{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.page-view{
  display: flex;
  flex-wrap: wrap;
}
.div-controls{
  display: flex;
}
.btn-buy{
  margin-left: auto;
}
.div-admin-controls{
  display: grid;
}
.p-title{
  font-size: 20px;
  color:black;
  font-weight: bold;
  margin-top: 16px;
}
.p-description{
  font-size: 14px;
  font-style: italic;
  overflow: hidden;
  max-width: 20ch;
  text-overflow: ellipsis;
  height: 20px;
}
.p-price{
  font-weight: bold;
}
